#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 0755 target/release/orchestr8 debian/orchestr8/usr/bin/orchestr8
	install -D -m 0644 schema/workload.schema.json debian/orchestr8/usr/share/orchestr8/schema/workload.schema.json

	# Install shell completions
	install -D -m 0644 debian/tmp/bash debian/orchestr8/usr/share/bash-completion/completions/orchestr8
	install -D -m 0644 debian/tmp/zsh debian/orchestr8/usr/share/zsh/site-functions/_orchestr8
	install -D -m 0644 debian/tmp/fish debian/orchestr8/usr/share/fish/vendor_completions.d/orchestr8.fish

	# Install man page if exists
	# install -D -m 0644 docs/orchestr8.1 debian/orchestr8/usr/share/man/man1/orchestr8.1

override_dh_auto_test:
	cargo test --all

override_dh_auto_clean:
	cargo clean
